<div class="navbar">
  <ul class="nav_links">
    <% if user_signed_in? %>
      <li>
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
