<ul class="sidebar">
    <li><%= link_to 'Dashboard', root_path %></li>
    <li>New Item</li>
    <li><%= link_to 'Inventory', items_path %></li>
    <li>Expiring Soon</li>
    <li>Expired</li>
    <li>Settings</li>
    <li>Notifications</li>
  </ul>