<% if @item.activity_logs.empty? %>
  <div class="no-amounts">
    <p>No actions logged yet!</p>
  </div>
<% else %>
  <% @item.item_amounts.each do |amount| %>
    <div class="waste-log-action">
      <% if amount.checked %>
        <p><%= amount.amount %></p>
        <p><%= amount.exp_date %></p>
        <p><%= amount.exp_amount %></p>
        <p><%= amount.updated_at.strftime("%c") %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
