<div class="new-bg">
  <h1><%= @item.name %></h1>
  <div class="new-item-main">
    <div class="new-item-img-upload item-header-img">
      <div class="header-img"></div>
      <p>Upload Image</p>
    </div>
    <div class="new-item-form">
      <%= render "items/item_form" %>
    </div>
  </div>
</div>
