<div>
  <div class="sidebar">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="main">
    <h1>Welcome to SugoiLabs!</h1>
    <div class="banner">
      <div class="right"></div>
      <div class="left"></div>
    </div>
    <h2>Title</h2>
    <div class="months">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>


<%# <p>Choose an option to start:</p>
    <ul>
      <li><%= link_to 'Create New Item', new_item_path %>
      <%# <li>Check Items Expiring Soon</li> %>
      <%# <li><%= link_to 'Inventory', items_path %>
    <%# </ul> %> 