<h1>Welcome to SugoiLabs!</h1>
<p>Choose an option to start:</p>
<ul>
  <li><%= link_to 'Create New Item', new_item_path %></li>
  <li>Check Items Expiring Soon</li>
  <li><%= link_to 'Inventory', items_path %></li>
</ul>