<div class="home">
  <ul class="sidebar">
    <li>New Item</li>
    <li>Inventory</li>
    <li>Expiring Soon</li>
    <li>Expired</li>
    <li>Settings</li>
    <li>Notifications</li>
  </ul>
  <div class="main">
    <h1>Welcome to Sugoi Labs!</h1>
    <div class="banner">
      <div class="right"></div>
      <div class="left"></div>
    </div>
    <h2>Upcoming:</h2>
    <div class="months">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>


<%# <p>Choose an option to start:</p>
    <ul>
      <li><%= link_to 'Create New Item', new_item_path %>
      <%# <li>Check Items Expiring Soon</li> %>
      <%# <li><%= link_to 'Inventory', items_path %>
    <%# </ul> %> 