<h1>Welcome to SugoiLabs!</h1>
<p>Choose an option to start:</p>
<ul>
  <li><%= link_to 'Add New Item', items_new_path %></li>
  <li>Check Items Expiring Soon</li>
  <li><%= link_to 'Check Inventory', items_path %></li>
  <li>Scan Barcode</li>
  </ul>