<div class="inventory-bg"> 
  <div class="inventory">
    <div class="inv-dashboard">
      <div class="search-bar" id="inv-search">
          <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'search-form' } do |f| %>
            <%= f.input :name,
                        input_html: {value: "", class: "search-input"},
                        label: false,
                        placeholder: "Search the inventory" %>   
            <%= f.submit "", class: "search-submit" %>
          <% end %>
        </div>
        <ul class="filters">
          <li id="filter-by">Filter by:</li>
          <li>Exp. Date</li>
          <li>A-Z</li>
          <li>Last Updated</li>
        </ul>
    </div>
    <div class="inv-cards">
    </div>
  </div>
  <h1>The Inventory</h1>
  <ul>
    <% @items.each do |item| %>
      <li>Name: <%= link_to item.name, item_path(item) %></li>
    <% end %>
  </ul>
</div>
