.item-card {
  background-color: #F9FAFB;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  box-shadow: 0px 3px 10px -7px #262626;
  margin: 15px 0;
  transition: transform .5s;
  &:hover {
    transform: scale(1.03);
  }
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.item-img {
  background-image: url("placeholder.png");
  width: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-desc {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 0 20px;
}

.item-info {
  h2 {
    margin: 10px 0 15px 0;
    font-size: 30px;
    font-weight: 400;
  }

  li {
    list-style-type: none;
    margin: 10px 0;
    color: #2f2c2c;
  }

}

.create-link {
  padding: 20px;
  color: #5f3cea;
  text-decoration: underline;
  font-weight: 400;
  font-size: 17px;
}

.inventory-card-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.inventory-card-link:hover {
  text-decoration: none;
}