.month-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px 15px;
}

.card-title {
  color: #EA3C66;
  font-size: 30px;
  padding: 10px;
  border-bottom: 1px solid #CCBEC2;

}

.card-info {
  text-align: center;
}