.navbar {
  background: greenyellow;
  padding: 20px 40px;
}

.nav_links {
  display: flex;
  justify-content: right;
  flex-direction: row;
  flex-grow: 1;

  li {
    padding: 0 20px;
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
}
